.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: white;
	font-family: var(--ff-sans-cond);
}

.form {
	position: relative;
}

.submit-button {
	background-color: transparent;
	padding: 0;
	margin-top: 1em;
	border: none;
	color: white;
	font-family: var(--ff-sans-cond);
}

.error-message {
	color: white;
	position: absolute;
	bottom: -4em;
	font-family: var(--ff-sans-cond);
}
