.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--clr-background);
	color: var(--clr-text);
	font-family: var(--ff-sans-cond);
	z-index: 1;
}

.form {
	position: relative;
}

.submit-button {
	background-color: transparent;
	padding: 0;
	margin-top: 1em;
	border: none;
	color: var(--clr-text);
	font-family: var(--ff-sans-cond);
	letter-spacing: var(--letter-spacing-3);
}

.error-message {
	color: var(--clr-text);
	position: absolute;
	bottom: -4em;
	font-family: var(--ff-sans-cond);
}

.death-candle {
	height: 500px;
	position: fixed;
	bottom: 0;
	right: 0;
}
