.favorite-button {
	background-color: transparent;
	color: var(--clr-text);
	border: none;
	padding: 0;
	border-bottom: 1px solid var(--clr-text);
	cursor: pointer;
	font-family: var(--ff-sans-cond);
	font-size: var(--fs-400);
	letter-spacing: var(--letter-spacing-3);
	margin-top: 0.5em;
	align-self: flex-start;
}
