.header {
	display: flex;
	gap: 2em;
	background-color: var(--clr-black);
}

.death-logo {
	height: 125px;
}

.title {
	align-self: center;
	color: white;
	font-size: 2em;
	font-family: var(--ff-sans-cond);
	font-weight: 500;
}
