.header {
	display: flex;
	gap: 1em;
	background-color: var(--clr-background);
}

.death-logo {
	height: 150px;
}

.title {
	align-self: center;
	color: var(--clr-text);
	font-size: 2em;
	font-family: var(--ff-sans-cond);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing-2);
}
